.title {
    font-weight: bold;
    font-size: 36px;
    color: #000000;
    line-height: 60px;
    &_h1 {
        width: 535px;
        height: 129px;
        font-size: 48px;
        margin-top: 9px;
    }
}